name: on push

on:
  push:
    paths-ignore:
      - "chart/**"

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=sha,prefix={{branch}}-
            type=sha

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: mvn -ntp -q --batch-mode clean package

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: src/main/docker/Dockerfile.jvm
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: update tags in helm values files
        run: |
          sed -i "s,tag:.*,tag:\ sha-${GITHUB_SHA::7}," chart/k3d-devt-values.yaml
          sed -i "s,tag:.*,tag:\ sha-${GITHUB_SHA::7}," chart/k3d-acpt-values.yaml
          sed -i "s,tag:.*,tag:\ sha-${GITHUB_SHA::7}," chart/k3d-prod-values.yaml
          sed -i "s,appVersion:.*,appVersion:\ sha-${GITHUB_SHA::7}," chart/Chart.yaml

      - uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
